<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.datafulldisplay.mapper.FullCoordinateMapper">

    <resultMap type="org.example.datafulldisplay.domain.FullCoordinate" id="FullCoordinateResult">
        <result property="coordinateId" column="coordinate_id"/>
        <result property="x" column="x"/>
        <result property="y" column="y"/>
        <result property="coordinateLocal" column="coordinate_local"/>
        <result property="coordinateType" column="coordinate_type"/>
    </resultMap>

    <sql id="selectFullCoordinateVo">
        select coordinate_id, x, y, coordinate_local, coordinate_type
        from full_coordinate
    </sql>

    <delete id="deleteFullCoordinateByCoordinateIds" parameterType="String">
        delete from full_coordinate where coordinate_id in
        <foreach item="coordinateId" collection="array" open="(" separator="," close=")">
            #{coordinateId}
        </foreach>
    </delete>
</mapper>